[submodule "3rdlibs/glfw"]
	path = 3rdlibs/glfw
	url = git@github.com:glfw/glfw.git
[submodule "3rdlibs/tomlplusplus"]
	path = 3rdlibs/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
[submodule "3rdlibs/json"]
	path = 3rdlibs/json
	url = git@github.com:nlohmann/json.git
